@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Movie App</h1>
    <br />
    <p class="text-justify">
        This is a site developed based on the principles of a simple CRUD,
        it is possible to add movies to the database, edit an existing movie, view details and delete. Enjoy!
    </p>
    <p class="text-justify">For more projects and studies, visit my <a href="https://github.com/maycondbraga" target="_blank">GitHub</a>.</p>
</div>
